In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [4]:
len(df)

126314

In [5]:
df.shape

(126314, 23)

In [6]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [7]:
pd.set_option("display.max.columns", None)

In [8]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [9]:
pd.set_option("display.precision", 2)

In [10]:
df.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [11]:
df.tail(3)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [13]:
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [14]:
df["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
DTF      60
TRH      60
PIT      60
INJ      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [15]:
pd.set_option("display.max.row", 10)

In [16]:
df["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
DTF      60
TRH      60
PIT      60
INJ      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [17]:
df["fran_id"].value_counts()

Lakers      6024
Celtics     5997
Knicks      5769
Warriors    5657
Pistons     5650
            ...
Waterloo      62
Huskies       60
Ironmen       60
Jets          60
Falcons       60
Name: fran_id, Length: 53, dtype: int64

In [18]:
df.loc[df["fran_id"] == "Lakers", "team_id"].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [19]:
df.loc[df["team_id"] == "MNL", "date_game"].min()

'1/1/1949'

In [20]:
df.loc[df["team_id"] == "MNL", "date_game"].max()

'4/9/1959'

In [21]:
df.loc[df["team_id"] == "MNL", "date_game"].agg(("min", "max"))

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [22]:
df.loc[df["team_id"] == "BOS", "pts"].sum()

626484

In [23]:
df.loc[df["team_id"] == "BOS", "pts"].min()

43

In [24]:
df.loc[df["team_id"] == "BOS", "pts"].max()

173

In [25]:
df.loc[50:100,:]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
50,26,194611160BOS,NBA,1,1947,11/16/1946,6,0,TRH,Huskies,49,1294.76,1290.01,39.95,BOS,Celtics,53,1267.15,1271.90,A,L,0.40,NaN
51,26,194611160BOS,NBA,0,1947,11/16/1946,6,0,BOS,Celtics,53,1267.15,1271.90,38.06,TRH,Huskies,49,1294.76,1290.01,H,W,0.60,NaN
52,27,194611160CHS,NBA,1,1947,11/16/1946,6,0,WSC,Capitols,73,1316.64,1329.95,44.14,CHS,Stags,65,1334.75,1321.44,A,W,0.34,NaN
53,27,194611160CHS,NBA,0,1947,11/16/1946,7,0,CHS,Stags,65,1334.75,1321.44,43.25,WSC,Capitols,73,1316.64,1329.95,H,L,0.66,NaN
54,28,194611160NYK,NBA,0,1947,11/16/1946,5,0,NYK,Knicks,64,1293.22,1296.22,40.60,PIT,Ironmen,62,1277.56,1274.56,H,W,0.66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,49,194611250BOS,NBA,1,1947,11/25/1946,10,0,PRO,Steamrollers,71,1265.95,1281.39,39.05,BOS,Celtics,59,1250.10,1234.66,A,W,0.38,NaN
97,49,194611250BOS,NBA,0,1947,11/25/1946,10,0,BOS,Celtics,59,1250.10,1234.66,34.21,PRO,Steamrollers,71,1265.95,1281.39,H,L,0.62,NaN
98,50,194611250PIT,NBA,1,1947,11/25/1946,9,0,NYK,Knicks,62,1309.93,1327.95,43.93,PIT,Ironmen,46,1282.92,1264.89,A,W,0.40,NaN
99,50,194611250PIT,NBA,0,1947,11/25/1946,10,0,PIT,Ironmen,46,1282.92,1264.89,37.33,NYK,Knicks,62,1309.93,1327.95,H,L,0.60,NaN
100,51,194611260DTF,NBA,0,1947,11/26/1946,11,0,DTF,Falcons,66,1306.60,1317.76,42.86,CLR,Rebels,46,1311.47,1300.31,H,W,0.63,NaN

## Data Structures

In [26]:
revenues = pd.Series([5555,7000,1980])

In [27]:
revenues

0    5555
1    7000
2    1980
dtype: int64

In [28]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [29]:
city_revenues = pd.Series(
[4200, 800, 6500],
index=["Amsterdam", "Toronto", "Tokyo"])

city_revenues

Amsterdam    4200
Toronto       800
Tokyo        6500
dtype: int64

In [30]:
type(revenues)

pandas.core.series.Series

In [31]:
city_employee_count = pd.Series({"Amsterdam":5, "Tokyo":8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [32]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [33]:
"Tokyo" in city_employee_count

True

In [34]:
for i in city_employee_count:
    print(i)

5
8

## Understanding DataFrame Objects

In [35]:
city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto        800             NaN

In [36]:
city_data.index

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [37]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+02,     nan]])

In [38]:
city_data.axes

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [39]:
city_data.axes[0]

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [40]:
city_data.axes[1]

Index(['revenue', 'employee_count'], dtype='object')

In [41]:
city_data.keys()

Index(['revenue', 'employee_count'], dtype='object')

In [42]:
df.index

RangeIndex(start=0, stop=126314, step=1)

In [43]:
df.axes

[RangeIndex(start=0, stop=126314, step=1),
 Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
        'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
        'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
        'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
       dtype='object')]

## Accesing Series Elements

In [44]:
city_revenues["Toronto"]

800

In [45]:
colors = pd.Series(
    ["red","purple","blue","green","yellow"],
    index=[1,2,3,5,8]
)
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [46]:
colors.loc[1]

'red'

In [47]:
colors.iloc[1]

'purple'